# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.vs/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Packages
node_modules/
jspm_packages/

# Environment
.env
.env.*.local
